@media only screen and (max-width: 833px){
  body{
    width: 100vw;
    height: 143vw;
  }
  h1 {
    font-size: 6vw;
  }
  p {
    font-size: 2.3vw;
  }

  /* КИТ */

  .kit1{
    top: 15vw;
    left: -50vw;
    animation: a1 15s linear infinite;
  }
  .a1:hover {
    animation-play-state: paused;
  }
  @keyframes a1 {
    0% {left: -50vw; top: 15vw;}
    100% {left: 110vw; top: 15vw;}
  }
  .kit1 img{
    top: 0;
    left: 0;
    width: 127vw;
    height: 65vw;
  }
  .kit1 h1{
    top: 45vw;
    left: 65vw;
    transform: rotate(-2deg);
    color: #1B79E2;
  }
  .h1_1 {
    display: none;
  }
  .kit1:hover .h1_1 {
    display: block;
  }

  /* РЫБА 1 */

  .fish1{
    top: 60vw;
    left: -50vw;
    animation: a2 5s linear infinite;
  }
  .a2:hover {
    animation-play-state: paused;
  }
  @keyframes a2 {
    0% {left: -20vw; top: 60vw;}
    100% {left: 110vw; top: 60vw;}
  }
  .fish1 img{
    top: 0;
    left: 0;
    width: 24.2vw;
    height: 18.7vw;
  }
  .fish1 h1{
    top: -3vw;
    left: 3.2vw;

    transform: rotate(12deg);
    color: #2C884C;
  }
  .h1_2 {
    display: none;
  }
  .fish1:hover .h1_2 {
    display: block;
  }

  /* РЫБА 2 */

  .fish2{
    top: 80vw;
    left: 110vw;
    animation: a3 6s linear infinite;
  }
  @keyframes a3 {
    0% {left: 110vw; top: 80vw;}
    100% {left: -20vw; top: 80vw;}
  }
  .fish2 img{
    top: 0;
    left: 0;
    width: 28.3vw;
    height: 13vw;

  }
  .fish2 h1{
    top: 12vw;
    left: 2vw;
    transform: rotate(2deg);
    color: #FFD000;
  }

  /* ИГРЫ */

  .blur{
    top: 0vw;
    left: 0vw;
    width: 100vw;
    height: 56vw;
  }

  /* ПЕРВАЯ ИГРА */

  /* Морские штуки */
  .mir img:nth-of-type(1) {
    top: 4vw;
    left: -21vw;
    width: 88.6vw;
    height: 40vw;
    animation: f1 5s linear infinite;
  }
  .mir img:nth-of-type(2) {
    top: 29vw;
    left: 64vw;
    width: 37.7vw;
    height: 22.5vw;
  }
  .mir img:nth-of-type(3) {
    top: 6vw;
    left: 4vw;
    width: 9.6vw;
    height: 4.1vw;
  }
  .mir img:nth-of-type(4) {
    top: 6vw;
    left: 13vw;
    width: 9.8vw;
    height: 6.6vw;
  }
  .mir img:nth-of-type(5) {
    top: 3vw;
    left: 31vw;
    width: 14.2vw;
    height: 8.7vw;
  }
  .mir img:nth-of-type(6) {
    top: 3vw;
    left: 55vw;
    width: 25vw;
    height: 9.2vw;
  }
  .mir img:nth-of-type(7) {
    top: 6vw;
    left: 88vw;
    width: 10.5vw;
    height: 12.3vw;
  }
  .mir img:nth-of-type(8) {
    top: 17vw;
    left: 73vw;
    width: 17vw;
    height: 9.9vw;
  }
  .mir img:nth-of-type(9) {
    top: 34vw;
    left: 9vw;
    width: 10.8vw;
    height: 4.9vw;
  }
  .mir img:nth-of-type(10) {
    top: 38vw;
    left: 2vw;
    width: 36.1vw;
    height: 17.4vw;
  }
  .mir img:nth-of-type(11) {
    top: 44vw;
    left: 45vw;
    width: 10vw;
    height: 5vw;
  }
  .mir img:nth-of-type(12) {
    top: 50vw;
    left: 57vw;
    width: 7vw;
    height: 3.3vw;
  }
  .mir img:nth-of-type(13) {
    top: 49vw;
    left: 87vw;
    width: 8.2vw;
    height: 4.7vw;
  }

  /* Пузыри */

  /* Большие */
  .bubbles img:nth-of-type(1) {
    top: 19vw;
    left: 13vw;
    width: 22vw;
    height: 24vw;
  }
  .bubbles img:nth-of-type(2) {
    top: 0vw;
    left: 55vw;
    width: 22vw;
    height: 24vw;
  }
  .bubbles img:nth-of-type(3) {
    top: 33vw;
    left: 49vw;
    width: 22vw;
    height: 24vw;
  }
  /* Средние */
  .bubbles img:nth-of-type(4) {
    top: 6vw;
    left: 15vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(5) {
    top: 0vw;
    left: 30vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(6) {
    top: 15vw;
    left: 43vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(7) {
    top: 15vw;
    left: 82vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(8) {
    top: 29vw;
    left: 37vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(9) {
    top: 37vw;
    left: 1vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(10) {
    top: 40vw;
    left: 27vw;
    width: 13vw;
    height: 14vw;
  }
  .bubbles img:nth-of-type(11) {
    top: 32vw;
    left: 75vw;
    width: 13vw;
    height: 14vw;
  }
  /* Небольшие */
  .bubbles img:nth-of-type(12) {
    top: 49vw;
    left: 93vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(13) {
    top: 1vw;
    left: 12vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(14) {
    top: 0vw;
    left: 22vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(15) {
    top: 1vw;
    left: 50vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(16) {
    top: 1vw;
    left: 76vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(17) {
    top: 4vw;
    left: 90vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(18) {
    top: 9vw;
    left: 82vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(19) {
    top: 13vw;
    left: 3vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(20) {
    top: 17vw;
    left: 10vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(21) {
    top: 12vw;
    left: 28vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(22) {
    top: 8vw;
    left: 44vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(23) {
    top: 23vw;
    left: 35vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(24) {
    top: 23vw;
    left: 1vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(25) {
    top: 15vw;
    left: 35vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(26) {
    top: 3vw;
    left: 2vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(27) {
    top: 22vw;
    left: 57vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(28) {
    top: 28vw;
    left: 51vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(29) {
    top: 19vw;
    left: 74vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(30) {
    top: 26vw;
    left: 76vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(31) {
    top: 29vw;
    left: 89vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(32) {
    top: 43vw;
    left: 19vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(33) {
    top: 50vw;
    left: 12vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(34) {
    top: 45vw;
    left: 43vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(35) {
    top: 50vw;
    left: 39vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(36) {
    top: 30vw;
    left: 68vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(37) {
    top: 47vw;
    left: 71vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(38) {
    top: 46vw;
    left: 80vw;
    width: 6vw;
    height: 6.4vw;
  }
  .bubbles img:nth-of-type(39) {
    top: 40vw;
    left: 89vw;
    width: 6vw;
    height: 6.4vw;
  }

  /* Маленькие */
  .bubbles img:nth-of-type(40) {
    top: 8vw;
    left: 12vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(41) {
    top: 11vw;
    left: 9vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(42) {
    top: 21vw;
    left: 7vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(43) {
    top: 28vw;
    left: 9vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(44) {
    top: 32vw;
    left: 4vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(45) {
    top: 7vw;
    left: 27vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(46) {
    top: 3vw;
    left: 45vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(47) {
    top: 9vw;
    left: 51vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(48) {
    top: 13vw;
    left: 52vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(49) {
    top: 8vw;
    left: 79vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(50) {
    top: 2vw;
    left: 85vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(51) {
    top: 13vw;
    left: 96vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(52) {
    top: 26vw;
    left: 97vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(53) {
    top: 35vw;
    left: 95vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(54) {
    top: 14vw;
    left: 42vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(55) {
    top: 20vw;
    left: 32vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(56) {
    top: 22vw;
    left: 40vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(57) {
    top: 28vw;
    left: 48vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(58) {
    top: 29vw;
    left: 58vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(59) {
    top: 31vw;
    left: 62vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(60) {
    top: 25vw;
    left: 65vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(61) {
    top: 24vw;
    left: 71vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(62) {
    top: 37vw;
    left: 34vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(63) {
    top: 40vw;
    left: 15vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(64) {
    top: 46vw;
    left: 16vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(65) {
    top: 43vw;
    left: 40vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(66) {
    top: 52vw;
    left: 2vw;
    width: 2.3vw;
    height: 2.5vw;
  }.bubbles img:nth-of-type(67) {
    top: 53vw;
    left: 20vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(68) {
    top: 51vw;
    left: 25vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(69) {
    top: 54vw;
    left: 45vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(70) {
    top: 52vw;
    left: 49vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(71) {
    top: 53vw;
    left: 68vw;
    width: 2.3vw;
    height: 2.5vw;
  }.bubbles img:nth-of-type(72) {
    top: 52vw;
    left: 77vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(73) {
    top: 47vw;
    left: 88vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(74) {
    top: 52vw;
    left: 89vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(75) {
    top: 38vw;
    left: 70vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(76) {
    top: 42vw;
    left: 74vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(77) {
    top: 43vw;
    left: 95vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(78) {
    top: 37vw;
    left: 91vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(79) {
    top: 35vw;
    left: 10vw;
    width: 2.3vw;
    height: 2.5vw;
  }
  .bubbles img:nth-of-type(80) {
    top: 16vw;
    left: 79vw;
    width: 2.3vw;
    height: 2.5vw;
  }


  /* ВТОРАЯ ИГРА */
  .second img:nth-of-type(1) {
    top: 7vw;
    left: 22vw;
  }
  .second img:nth-of-type(2) {
    top: 22vw;
    left: 22vw;
  }
  .second img:nth-of-type(3) {
    top: 36vw;
    left: 22vw;
  }
  .second img:nth-of-type(5) {
    top: 20.1vw;
    left: 82.5vw;
  }
  .second img:nth-of-type(6) {
    top: 33.1vw;
    left: 82.5vw;
  }
  .second img:nth-of-type(7) {
    top: 9vw;
    left: 13vw;
  }
  .sa1 {
    animation-name: ssa1;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  @keyframes ssa1 {
  0% {left: 13vw; top: 9vw;}
  15% {left: 29vw; top: 9vw;}
  20% {left: 29vw; top: 4vw; transform: rotate(-80deg);}
  31% {left: 39vw; top: 4vw; transform: rotate(0deg);}
  45% {left: 39vw; top: 12vw; transform: rotate(100deg);}
  50% {left: 50vw; top: 12vw; transform: rotate(0deg);}
  60% {left: 50vw; top: 6vw; transform: rotate(-80deg);}
  70% {left: 63vw; top: 6vw; transform: rotate(0deg);}
  85% {left: 63vw; top: 9vw; transform: rotate(100deg);}
  100% {left: 83vw; top: 9vw; transform: rotate(0deg);}
  }
  .second img:nth-of-type(8) {
    top: 21vw;
    left: 15vw;
  }
  .sa2 {
    animation-name: ssa2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
  @keyframes ssa2 {
  0% {left: 15vw; top: 21vw;}
  15% {left: 34vw; top: 21vw;}
  20% {left: 34vw; top: 24vw;}
  31% {left: 47vw; top: 24vw;;}
  45% {left: 47vw; top: 18vw;}
  50% {left: 58vw; top: 18vw;}
  60% {left: 58vw; top: 26vw;}
  70% {left: 69vw; top: 26vw;}
  85% {left: 69vw; top: 21vw;}
  100% {left: 82vw; top: 21vw;}
  }
  .second img:nth-of-type(4) {
    top: 7.1vw;
    left: 82.5vw;
  }
  .fish3 img:nth-of-type(1) {
    top: 0vw;
    left: 0vw;
  }
  .fish3 {
    top: 36vw;
    left: 13vw;
  }
  .bottom1 p{
    font-size: 50px;
    color: #2C884C;
  }
  .bottom2 p{
    font-size: 50px;
    color: #2C884C;
  }
  .bottom1 {
    top: 46vw;
    left: 76vw;
  }
  .bottom2 {
    top: 46vw;
    left: 76.5vw;
  }

  /* ТРЕТЬЯ ИГРА */
  .third img:nth-of-type(1){
    top: 20vw;
    left: -22vw;
    width: 22vw;
    height: 13vw;
  }
  .ta1 {
    animation-name: tta1;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  @keyframes tta1 {
  0% {left: -22vw; top: 20vw;}
  100% {left: 110vw; top: 20vw;}
  }
  .third img:nth-of-type(2){
    top: 9vw;
    left: 110vw;
    width: 7.2vw;
    height: 7.7vw;
  }
  .ta2 {
    animation-name: tta2;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }
  @keyframes tta2 {
  0% {left: 110vw; top: 9vw;}
  100% {left: -20vw; top: 9vw;}
  }
  .third img:nth-of-type(3){
    top: 35vw;
    left: -20vw;
    width: 15vw;
    height: 12.2vw;
  }
  .ta3 {
    animation-name: tta3;
    animation-duration: 8s;
    animation-fill-mode: forwards;
  }
  @keyframes tta3 {
  0% {left: -22vw; top: 35vw;}
  100% {left: 110vw; top: 35vw;}
  }
  .third img:nth-of-type(4){
    top: 27vw;
    left: 110vw;
    width: 15.2vw;
    height: 14.5vw;
  }
  .ta4 {
    animation-name: tta4;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  @keyframes tta4 {
  0% {left: 110vw; top: 27vw;}
  100% {left: -20vw; top: 27vw;}
  }
  .third img:nth-of-type(5){
    top: 10vw;
    left: -20vw;
    width: 9.5vw;
    height: 4.5vw;
  }
  .ta5 {
    animation-name: tta5;
    animation-duration: 8s;
    animation-fill-mode: forwards;
  }
  @keyframes tta5 {
  0% {left: -20vw; top: 10vw;}
  100% {left: 110vw; top: 10vw;}
  }
  .third img:nth-of-type(6){
    top: 40vw;
    left: 110vw;
    width: 9vw;
    height: 9.7vw;
  }
  .ta6 {
    animation-name: tta6;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }
  @keyframes tta6 {
  0% {left: 110vw; top: 40vw;}
  100% {left: -20vw; top: 40vw;}
  }
  .third img:nth-of-type(7){
    top: 25vw;
    left: -20vw;
    width: 11vw;
    height: 10.6vw;
  }
  .ta7 {
    animation-name: tta7;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  @keyframes tta7 {
  0% {left: -22vw; top: 25vw;}
  100% {left: 110vw; top: 25vw;}
  }
  .third img:nth-of-type(8){
    top: 20vw;
    left: 110vw;
    width: 11.7vw;
    height: 9.5vw;
  }
  .ta8 {
    animation-name: tta8;
    animation-duration: 9s;
    animation-fill-mode: forwards;
  }
  @keyframes tta8 {
  0% {left: 110vw; top: 20vw;}
  100% {left: -20vw; top: 20vw;}
  }
  .third img:nth-of-type(9){
    top: 28vw;
    left: -20vw;
    width: 6.6vw;
    height: 7.1vw;
  }
  .ta9 {
    animation-name: tta9;
    animation-duration: 10s;
    animation-fill-mode: forwards;
  }
  @keyframes tta9 {
  0% {left: -22vw; top: 28vw;}
  100% {left: 110vw; top: 28vw;}
  }
  .third img:nth-of-type(10){
    top: 15vw;
    left: 110vw;
    width: 11.9vw;
    height: 5.1vw;
  }
  .ta10 {
    animation-name: tta10;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  @keyframes tta10 {
  0% {left: 110vw; top: 15vw;}
  100% {left: -20vw; top: 15vw;}
  }

  /* ПОДСКАЗКИ */

  .hint1_1 {
    left: 32.5vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 35vw;
    height: 15vw;
    border: 10px solid #1B79E2;
  }
  .hint1_1 p {
    color: #1B79E2;
    top: 5vw;
    left: 4.2vw;
  }
  .hint1_1 img {
    top: 1.1vw;
    left: 32.8vw;
  }

  .hint1_2 {
    left: 32.5vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 35vw;
    height: 15vw;
    border: 10px solid #1B79E2;
  }
  .hint1_2 p {
    color: #1B79E2;
    top: 5vw;
    left: 4.2vw;
  }
  .hint1_2 img {
    top: 1.1vw;
    left: 32.8vw;
  }



  .hint2_1 {
    left: 27.5vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 45vw;
    height: 15vw;
    border: 10px solid #2C884C;
  }
  .hint2_1 p {
    color: #2C884C;
    top: 5vw;
    left: 3.5vw;
  }
  .hint2_1 img {
    top: 1.1vw;
    left: 42.9vw;
  }

  .hint2_2_1 {
    left: 27.5vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 45vw;
    height: 15vw;
    border: 10px solid #2C884C;
  }
  .hint2_2_1 p {
    color: #2C884C;
    top: 5vw;
    left: 4.7vw;
  }
  .hint2_2_1 img {
    top: 1.1vw;
    left: 42.9vw;
  }

  .hint2_2_2 {
    left: 27.5vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 45vw;
    height: 15vw;
    border: 10px solid #2C884C;
  }
  .hint2_2_2 p {
    color: #2C884C;
    top: 5vw;
    left: 3.5vw;
  }
  .hint2_2_2 img {
    top: 1.1vw;
    left: 42.9vw;
  }



  .hint3_1 {
    left: 30vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 40vw;
    height: 15vw;
    border: 10px solid #FFD000;
  }
  .hint3_1 p {
    color: #FFD000;
    top: 5vw;
    left: 3.8vw;
  }
  .hint3_1 img {
    top: 1.1vw;
    left: 37.8vw;
  }

  .hint3_2_1 {
    left: 27vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 45vw;
    height: 15vw;
    border: 10px solid #FFD000;
  }
  .hint3_2_1 p {
    color: #FFD000;
    top: 5vw;
    left: 5vw;
  }
  .hint3_2_1 img {
    top: 1.1vw;
    left: 42.6vw;
  }

  .hint3_2_2 {
    left: 30vw;
    top: 19.8vw;
    background-color: #F5F5F5;
    width: 34.9vw;
    height: 15vw;
    border: 10px solid #FFD000;
  }
  .hint3_2_2 p {
    color: #FFD000;
    top: 5vw;
    left: 5.7vw;
  }
  .hint3_2_2 img {
    top: 1.1vw;
    left: 32.6vw;
  }
}
